body {
  padding-left: 1%;
  padding-right: 1%;
}
a > img {
  max-width: 12px;
  max-height: 12px;
}
nav {
  border-radius: 10px 10px;
  border-color: rgba(150, 150, 150, 0.308);
  background-color: rgba(44, 42, 42, 0.308);
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
nav > a {
  padding: 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  transition: 0.1s;
}
#home {
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 10px black;
}
#home > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40%;
  border-radius: 30%;
  transition: 0.1s;
}

#home > span {
  text-align: center;
  align-items: center;
  font-size: larger;
  color: rgb(5, 5, 5);
}
#home > span > p {
  transition: 0.1s;
}
#our-services {
  text-align: center;
}
#our-services > span {
  display: inline-block;
  transition: 0.1s;

  margin-right: 5px;
  background-color: aqua;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 10px black;
}
#our-services > span > img {
  width: 122px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#customer-reviews {
  text-align: center;
}
#customer-reviews > img {
  box-shadow: 2px 2px 10px black;
  border-radius: 50%;
  transition: 0.1s;
}
#contact-us > ul,
#footer > ul {
  list-style-type: none;
}

#contact-us > ul > li > a,
#footer > ul > li > a {
  text-decoration: none;
  color: black;
}
#home > img:hover {
  box-shadow: 5px 5px 10px gold;
}
#home > span > p:hover {
  box-shadow: 5px 5px 10px gold;
}
#our-services > span:hover {
  box-shadow: 5px 5px 10px gold;
}
#customer-reviews > img:hover,
nav > a:hover {
  box-shadow: 5px 5px 20px gold;
}
body {
  background-color: azure;
}
#contact-us,
#footer,
#our-services,
#customer-reviews,
#home {
  background-color: rgb(225, 252, 252);
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
}
#contact-us,
#footer {
  padding-left: 5px;
}
nav > a:hover {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}
